doctype html
html
  head
    title
      | P2P Chat
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    header.top
      #init-wrapper
        input#name-input(type="text", placeholder="Your name")
        button#set-name.red.ghost(type="button")
          | Set Name
        button#show-host.hide.inline-block.red.ghost
          | Host Chat
        #host.hide.inline-block
          #your-id
            span
              | your id is:
        button#show-join.hide.inline-block.red.ghost
          | Join Chat
        #join.hide.inline-block
          form
            label(for="id")
              | Friends ID:
            input#friends-peer-id(name="id", type="text")
            button#join-host.red.ghost(type="button")
              | join
      #connected.hide
    section.inner
      #chat-history.chat-wrapper.content
    footer#new-chat.bottom-bar.bottom
      textarea#message.input(type="text")
      button.send(id="send-message", type="button")
    script(src="js/scripts.js")
