doctype html
html
  head
    title 
      | playing with peer-js-demo
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    link(rel='stylesheet', href='css/styles.css')
  body
    h1#my-name
      | Enter Your Name
    input(type="text", id="name-input")
    button(id="set-name", type="button")
      | Set Name
    #host
      #your-id
        h4
          | your id is:
    #join
      form
        label(for="id")
          | Friends ID:
        input(id="friends-peer-id", name="id", type="text")
        button(id="join-host", type="button")
          | join
    #chat-history.chat-wrapper
    #new-chat.bottom-bar
      input(type="text", id="message")
      button(id="send-message", type="button")
        | send
    script(src="js/scripts.js")
