doctype html
html
  head
    title 
      | playing with peer-js-demo
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    header.top
      input(type="text", id="name-input", placeholder="Your name")
      button(id="set-name", type="button")
        | Set Name
      button.hide(id="show-host")
        | Host Chat
      #host.hide
        #your-id
          span
            | your id is:
      button.hide(id="show-join")
        | Join Chat
      #join.hide
        form
          label(for="id")
            | Friends ID:
          input(id="friends-peer-id", name="id", type="text")
          button(id="join-host", type="button")
            | join
    section.inner
      #chat-history.chat-wrapper.content
    footer#new-chat.bottom-bar.bottom
      input.input(type="text", id="message")
      button.send(id="send-message", type="button")
    script(src="js/scripts.js")
